.popupOpen {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000081;
  z-index: 100;
  transform: scale(1);
  transition: .5s;
}
.popupClose {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #00000081;
  z-index: 100;
  transform: scale(0);
  transition: .5s;
}


.wrap {
  width: 100%;
  max-width: 300px;
  padding: 15px 20px 0 16px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  /* scroll-behavior: auto; */
  overflow: auto;
  overflow-y: auto;
}

.title {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.subtitle {
  max-height: 500px;
  font-size: 12px;
  line-height: 38px;
  font-style: normal;
  font-weight: 400; 
  overflow: auto;
  overflow-x:hidden;
}
.subtitle::-webkit-scrollbar { width: 5px; height: 3px;}
.subtitle::-webkit-scrollbar-button {  background-color: #ffffff; }
.subtitle::-webkit-scrollbar-track {  background-color: #ffffff;}
.subtitle::-webkit-scrollbar-track-piece { background-color: #ffffff;}
.subtitle::-webkit-scrollbar-thumb { height:168px; background-color: #bcbcbcc2; border-radius: 3px;}
.subtitle::-webkit-scrollbar-corner { background-color: #BCBCBC;}
.subtitle::-webkit-resizer { background-color: #fff;}




.subtitle > span {
  display: block;
  font-weight: bold;
  font-size: 14px;
}

.submit {
  width: 100%;
  min-height: 40px;
  max-width: 320px;
  margin-top: 5px;
  background-color: #1890FF;
  color: #fff;
  border: none;
  transition: .4s;
  outline: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  outline: none;
}

.submit:hover {
  background-color: #40A9FF;
}
.submit:active {
  background-color: #096DD9;
}
.submit:focus {
  box-shadow: 0px 0px 4px rgba(24, 144, 255, 0.5);
}
.submit:disabled {
  background-color: #777777;
}

.close {
  position: absolute;
  top: 15px;
  right: 16px;
  background: none;
  border: none;
  cursor: pointer;
}

.submitWrap {
  margin: 10px 0;
  width: 100%;
  background-color: #fff;
}

@media (min-width: 375px) {
  .wrap {
    max-width: 340px;
  }
  .title {
    font-size: 24px; 
    line-height: 38px;
  }
  .subtitle,
  .subtitle span {
    font-size: 20px;
  }
  
}

@media (min-width: 928px) {
  .wrap {
    max-width: 547px;
  }
  .wrap {
    width: 90%;
    max-width: 758px;
    padding: 40px 40px 0px 40px;
  }
  .title {
    margin: 25px 0;
    text-align: center;
  }
  .subtitle {
    max-height: 574px;
    padding-right: 15px;
  }
  .submitWrap {
    margin: 25px 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
  }
  .submit {
    margin-top: 0;
  }
  .close {
    top: 40px;
    right: 40px;
  }
}